# ----------------------------
# Node / React Native
# ----------------------------
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
logs/
*.log
package-lock.json

# Metro bundler cache
.expo
.expo-shared
.expo/
.expo-shared/
.expo-packager-cache

# React Native cache
*.jsbundle
*.map

# ----------------------------
# Android
# ----------------------------
android/.gradle
android/.idea
android/local.properties
android/app/release
android/app/debug
android/app/profile
android/app/build/
android/build/
android/.cxx/

# Gradle
.gradle/
build/
**/build/

# APKs e Bundles
*.apk
*.aab

# Cache e intermediários Android
android/app/intermediates/
android/app/generated/
android/app/outputs/
android/app/tmp/
android/app/.cxx/
android/app/src/*/assets/index.android.bundle

# Arquivos nativos gigantes
*.so

# ----------------------------
# iOS
# ----------------------------
ios/build/
ios/DerivedData/
ios/Pods/
*.xcworkspace
xcuserdata/
*.xcuserdatad
*.xcuserstate

# ----------------------------
# General
# ----------------------------
dist/
temp/
tmp/
.DS_Store
*.swp
.env
.env.*
